.inputCus {
  //   width: 50%;
  padding: 10px;
  background-color: rgba(234, 234, 236, 1);
}
.inputCus_txt {
  color: rgba(83, 82, 97, 1);
  margin: 0;
}
.detail {
  margin-top: 10px;
}
.row_Info {
  padding: 30px;
  background-color: white;
  border-radius: 15px;
}
