.txtSTT {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(83, 82, 97, 1);
}
.txtMa {
  font-size: 56px;
  font-weight: 800;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 117, 6, 1);
}
.txtDv {
  //styleName: 18/18 Bold;

  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;

  //styleName: 18/18 Reg;

  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
}
.txtTime {
  text-align: center;

  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
}
