.warpAbout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 15px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 2px 2px rgba(70, 64, 67, 0.1);
  margin-bottom: 25px;
}
.title {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  //   padding: 10px;
}
.txt {
  margin-bottom: 0px;
}
.txtName {
  color: rgba(255, 117, 6, 1);
  margin-bottom: 0px;
}
.percent {
  height: 50px;
  text-align: center;
  border-style: solid;
  padding: 8px;
  border-width: 2px;
  border-color: rgba(255, 117, 6, 1);
  border-radius: 50%;
}
