.wrap_Table {
  background-color: rgba(255, 145, 56, 1);
  cursor: pointer;
  color: white;
  border-width: none;
  border-radius: 15px;
}
.wrapListDevice {
  margin-top: 15px;
}
.txtDetail {
  text-decoration: solid;
  cursor: pointer;
  color: rgba(66, 119, 255, 1);
}
