.txtFormTitle {
  color: rgba(255, 117, 6, 1);
}
.wrapFormAdd {
  background-color: white;
  padding: 15px;
  padding-bottom: 15vh;
  border-radius: 15px;
}
.Inputtemptxt {
  line-height: 24px;
  font-weight: 600;
  margin: 0;
  margin-top: 15px;
}
.addForm {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.addLeft {
  width: 80vh;
}
.addRight {
  width: 80vh;
}
.btn {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.btnCancel {
  background-color: rgba(255, 242, 231, 1);
  color: rgba(255, 145, 56, 1);
  border-color: rgba(255, 242, 231, 1);
  margin-right: 15px;
  border-radius: 10px;
  padding: 5px 20px;
}
.btnAdd {
  background-color: rgba(255, 145, 56, 1);
  color: white;
  border-color: rgba(255, 145, 56, 1);
  margin-right: 15px;
  border-radius: 10px;
  padding: 5px 20px;
}
.AddCheck {
  display: flex;
  flex-direction: column;
}
.AddCheckcontent {
  display: flex;
  flex-direction: row;
}
.number {
  border-width: 1px;
  border-color: rgba(212, 212, 215, 1);
  font-weight: 400;
  border-radius: 15px;
  padding: 0px 15px;
}
